					
					<form>					
						<div class="ui top attached tabular menu userProfileTabs">
							<a class="active item" data-tab="tab1">
						    	Authentication data
						    </a>
						    <a class="item" data-tab="tab2">
						    	General Information
						    </a>						   						    
						</div>
						
						<div class="ui bottom attached stacked segment">
							<!-- Authentication data -->
							<div class="ui form active" data-tab="tab1">
								
							</div>
							
							<!-- General information -->
							<div class="ui form hidden" data-tab="tab2">
							
							</div>
							
						</div>
							
							
						<div class="right">
							<div class="ui labeled icon button red small close closeUserProfile">
								<i class="inverted cancel basic icon"></i>
								Close
							</div>
							
							<div class="ui labeled icon button blue small saveUserProfile">
								<i class="inverted save icon"></i>
								Save
							</div>
							
						</div>
						
						<input type="hidden" class="userId" value="{{userId}}">
						
					</form>	